<!DOCTYPE html>
<html>
<head>
  <title>RailsEveryone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<a href="#"><h1>Rails Everyone Admin</h1></a>
	</header>
	<nav>
		<a href="/">Home</a>
	</nav>
	<%= yield %>
</body>
</html>
