<!DOCTYPE html>
<html>
<head>
  <title>RailsEveryone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<a href="#"><h1>Rails Everyone</h1></a>
	</header>
	<nav>
		<a href="/">Home</a>
		<a href="#">Sobre</a>
	</nav>
	<%= yield %>
	<aside>
		<p><b>Posts Recentes</b></p>
		<a href="#">Post1</a>
		<a href="#">post2</a>	
		<a href="#">Post3</a>	
		<p><b>Tags</b></p>
		<a href="#">Tag1</a>
		<a href="#">Tag2</a>	
		<a href="#">Tag3</a>	
	</aside>

	<footer>
		<div class="redes-sociais">
			<a href="">Facebook</a>
			<a href="">Twitter</a>
		</div>
		<p>Rails Everyone | 2015</p>
	</footer>
</body>
</html>
